projects/yaget/branch/conversion/Modules/Renderer/DirectX/include/Material2.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - 30 Day Trial Edition (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Material2">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Inputs">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Input">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Value" type="xs:string" />
                    <xs:element name="Type">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="bool" />
                          <xs:enumeration value="int" />
                          <xs:enumeration value="float" />
                          <xs:enumeration value="Vector2" />
                          <xs:enumeration value="Vector3" />
                          <xs:enumeration value="Vector4" />
                          <xs:enumeration value="Matrix33" />
                          <xs:enumeration value="Matrix44" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Pass">
                      <xs:simpleType>
                        <xs:restriction base="xs:int">
                          <xs:minInclusive value="0" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>